* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, Heiti, “黑体”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, sans-serif;*/
}
.threedcalborder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calborder {
    background-color: #72C3FA;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    border-radius: 40px;
}
.calbackground {
    width: 500px;
    height: 200px;
    border-radius: 75px;
    background-color: #005F8F;
    margin-top: -160px;
    z-index: -1;
}
.screen {
    width: 380px;
    height: 60px;
    border-radius: 10px;
    background-color: #112F48;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12px;
    padding-left: 12px;
    color: #FF7466;
}
.result {
    font-family: 'lcdmono2bold',sans-serif;
    font-size: 45px;
    /*font: 45px lcdmono2bold, Arial, sans-serif;    */

}
.keyborder {
    display: flex;
    width: 410px;
    justify-content: space-between
}
.groupleft {
display: flex;
    justify-content: space-between;
width: 174px;
height: 184px;
padding-left: 6px;
padding-right: 6px;
    background-color: #05111B;
}

.groupcenter {
    display: flex;
    /*margin-top: 1px;*/
    flex-direction: column;
    justify-content: space-between;
    height: 184px;
    
}
.arrfourtop, .arrfourbottom {
    display: flex;
    justify-content: center;
    width: 92px;
    background-color: #05111B;
    padding-left: 3px;
    padding-right: 3px;

}
.arrfourtop >.botton >.buttontop, .arrfourtop >.botton >.bottonbottom, .arrfourbottom >.botton >.buttontop, .arrfourbottom >.botton >.bottonbottom {
    width: 80px;
}
#plus {
    height: 110px;
}
.groupright {
    display: flex;
    justify-content: space-around;
    width: 118px;
    height: 184px;
    background-color: #05111B;
    padding-left: 3px;
    padding-right: 3px;
}

.arrfive, .arrsix {
/*margin-top: 1px;*/
}


.botton {
    display: flex;
    flex-direction: column;
}

.buttontop {
width:50px;
height: 36px;
background-color: #1277BE;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;   
border-radius: 4px; 
z-index: 6;
margin-top: -5px;
transition: .05s;
cursor: pointer;
outline: none;
user-select: none;
}

.bottonbottom {
width:50px;
height: 20px;
background-color: #112F49;
margin-top: -5px;
z-index: 5;
}

#equal {
height: 82px;
}

.buttontop:active {
transform: translate(0, 3px);
}

